---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>

    <h1>Astro</h1>
    <h1>Acerca De</h1>
    <h2>....y mi nueva pagina web Astro</h2>

    <p>Estoy en el tutorial de astro</p>

    <p>Esta pagina se ira completando a medida que avance en el tutorial</p>
  </body>
</html>
